<h1>Listing points</h1>

<table>
  <tr>
    <th>Section</th>
    <th>Message</th>
  </tr>

<% for point in @points %>
  <tr>
    <td><%=h @section.name %></td>
    <td><%=h point.message %></td>
    <td><%= link_to 'Show', [@section, point] %></td>
    <td><%= link_to 'Edit', [:edit, @section, point] %></td>
    <td><%= link_to 'Destroy', [@section, point], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New point', new_section_point_path(@section) %>
