
= content_for :title do
  IdeaBoardz - Frequently answered questions

= stylesheet_link_tag 'faq'

%h1 Frequently Asked Questions
.question What is IdeaBoardz ?
.answer
  IdeaBoardz is a team collaboration tool. It allows teams to collectively brainstorm, gather
  inputs, reflect and retrospect. It is especially useful for teams that are distributed geographically.
  It is also handy for teams to collect inputs over some days and then meet to discuss them.
.question What do people use it for ?
.answer
  Most teams use IdeaBoardz to conduct Project Retrospective meetings. We know of teams who have
  used it for other types of brainstorming exercises like six thinking hats, pros-cons, risks-opportunities. We
  ourselves are using it to gather feedback and new ideas for IdeaBoardz.
.question How do I share a ideaboard I created ?
.answer You can just copy the url from the browser and paste it to share via email, twitter etc.
.question Do you have an e-mail support address?
.answer
  Send us your complains, queries or suggestions
  %a{:href => "http://www.twitter.com/ideaboardz", :target => "_blank"} @ideaboardz
  on
  %a{:href => "http://www.twitter.com", :target => "_blank"} twitter
.question Who created Ideaboardz ?
.answer
  = link_to('Anand Agrawal', 'http://twitter.com/anand_agrawal', :target => '_blank')
  , Anay Nayak,
  = link_to('Atreyee Maiti', 'http://twitter.com/atreyeemaiti', :target => '_blank')
  ,
  = link_to('Chirag Doshi', 'http://www.twitter.com/chiragsdoshi', :target => '_blank')
  ,
  = link_to('Dhaval Doshi', 'http://www.twitter.com/dhavaldoshi', :target => '_blank')
  ,
  = link_to('Divyanshu Mohan', "http://twitter.com/divyanshumohan", :target => "_blank")
  (all from
  = link_to('ThoughtWorks', 'http://www.thoughtworks.com', :target => '_blank')
  Pune) have been contributing to the application in various ways.
.question Do I need to pay for using IdeaBoardz ?
.answer No. It is free.

%h1.login FAQ on Login
.question Why Login?
.answer Its for your ease to remember the visited boardz. Login is optional, you can choose not to login and still use IdeaBoardz.
.question Do you store any of my information from my gmail account?
.answer We store only your name and email id to identify you when you visit next.
.question Would you use my email id to spam me?
.answer We follow no spam policy. You would not receive a single email from IdeaBoardz.
