<div id="section<%= section.id %>" class="section <%= section_width %> <%= get_sticky_color(section.id) %>" data-color="<%= get_sticky_color(section.id) %>">
  <div class="sectionTitleArea">
    <h4 class="sectionTitle"><%= section.name %></h4>
    <button class="addStickyButton" title="Add Sticky"></button>
  </div>
  <div class="points">
  </div>
  <div class="addStickyForm hide"><textarea class="stickyText" rows="4" cols="30" maxlength="140"></textarea></div>
</div>