<h1>Editing retro</h1>

<%= error_messages_for :retro %>

<% form_for(@retro) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @retro %> |
<%= link_to 'Back', retros_path %>
