<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <meta name="keywords" lang="en-us" content="collaborate, distributed, share, discuss, ideas, brainstorm, sticky, wall, board, whiteboard, meeting, retro, online, continuous, thoughtworks, application"/>
  <meta name="keywords" lang="en" content="collaborate, distributed, share, discuss, ideas, brainstorm, sticky, wall, board, whiteboard, meeting, retro, online, continuous, thoughtworks, application"/>
  <meta name="description" content="Conduct collaborative brainstorming sessions with distributed teams"/>
  <title>
    IdeaBoardz - Brainstorm, Retrospect, Collaborate
  </title>
  <link rel="stylesheet" type="text/css" href="css/reset-min.css"/>
  <link rel="stylesheet" type="text/css" href="css/newhome.css"/>
  <%= render :partial => "shared/analytics" %>
</head>
<body>
<div class="mainWrap">
  <div class="whiteboard">
    <div class="header">
      <h1><img src="images/IdeaBoardz_logo_2.png" alt="IdeaBoardz - brainstorm, retrospect, collaborate" class="logo">
      </h1>
    </div>

    <div class="content">
      <div class="leftBar half left">
        <div class="what">
          <h2 class="sectionTitle">How does it look</h2>

          <div>
            <img src="images/screenshot.png" alt="screen-shot" style="width:100%">
          </div>
        </div>
      </div>
      <div class="rightBar half left">
        <div class="try blue sideNote">
          <h2 class="sectionTitle">Test Drive...</h2>

          <div class="sectionContent">
            <ul>
              <li>Lets take it for a <a href="/for/test">Spin!</a></li>
            </ul>
          </div>
        </div>
        <div class="create yellow sideNote">
          <h2 class="sectionTitle">How</h2>

          <div class="sectionContent">
            <ul>
              <li><a href="#" class="flip">Create</a> my own IdeaBoard</li>
              <li>Share the url</li>
            </ul>
            <div class="formContainer" style="display:none">

             <% form_tag({:controller => :retros},{:method => "post",:novalidate => ""}) do %>
                  <%= label_tag(:name, "Name *") %>
                  <%= text_field_tag(:name, "",:required => "required","data-message"=>"please fill in a name") %>
                  <%= label_tag(:description, "Description *") %>
                  <%= text_field_tag(:description,"", :required => "required","data-message"=>"please fill in a description") %>
                  <%= label_tag(:numberOfSections, "Format") %>
                  <%= select_tag(:numberOfSections,options_for_select([1,2,3,4,5,6].map{ |v| [pluralize(v," Section"), v] },{}),:id=>"NumberOfSections")%>
                  <%= label_tag(:sectioname0, "Section Title *") %>
                  <div id="sectionWrapper">
                      <%= text_field_tag(:sectionname0,"",:required => "required","data-message"=>"please fill in a section name") %>
                      <%= text_field_tag(:sectionname1,"",:required => "required","data-message"=>"please fill in a section name") %>
                      <%= text_field_tag(:sectionname2,"",:required => "required","data-message"=>"please fill in a section name") %>
                      <%= text_field_tag(:sectionname3,"",:required => "required","data-message"=>"please fill in a section name") %>
                      <%= text_field_tag(:sectionname4,"",:required => "required","data-message"=>"please fill in a section name") %>
                      <%= text_field_tag(:sectionname5,"",:required => "required","data-message"=>"please fill in a section name") %>
                  </div>
                  <%= submit_tag("Create") %>
              <% end %>

            
            </div>

          </div>
        </div>
        <div class="why orange sideNote">
          <h2 class="sectionTitle">Why?</h2>

          <div class="sectionContent">
            <ul>
              <li>Add ideas at any time.</li>
              <li>Brainstorm across oceans.</li>
              <li>Export as PDF or Xls.</li>
            </ul>
          </div>
        </div>
        <div class="help purple sideNote">
          <div class="sectionContent">
            <p>Best viewed on <br/>
              <a href="http://www.google.com/chrome" target="_blank" title="download chrome">chrome</a>,
              <a href="http://www.mozilla.com/en-US/" target="_blank" title="download firefox">firefox</a> or
              <a href="http://www.apple.com/safari/download/" target="_blank" title="download safari">safari</a></p>
          </div>
        </div>

        <div class="feedback green sideNote">
          <h2 class="sectionTitle"><a href="/for/feedback">Feedback</a></h2>
        </div>
      </div>
    </div>
  </div>

</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js" type='text/javascript'></script>
<!--<script src="/js/jquery1.7.min.js" type='text/javascript'></script>-->
<script src='/js/jquery.tools.min.js' type='text/javascript'></script>
<script src='/js/analytics.js' type='text/javascript'></script>
<script src='/js/create.js' type='text/javascript'></script>
</body>
</html>
