!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
    %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
    %meta{:content => "text/html; charset=utf-8", :"http-equiv" => "content-type"}/
    %meta{:content => "collaborate, distributed, share, discuss, ideas, brainstorm, sticky, wall, board, whiteboard, meeting, retro, online, continuous, application", :lang => "en-us", :name => "keywords"}/
    %meta{:content => "collaborate, distributed, share, discuss, ideas, brainstorm, sticky, wall, board, whiteboard, meeting, retro, online, continuous, application", :lang => "en", :name => "keywords"}/
    %meta{:content => "Conduct collaborative brainstorming sessions with distributed teams", :name => "description"}/
    %meta{:property => "og:image", :content => "/ideaboardzSquare.png"}/
    %title
      IdeaBoardz - Brainstorm, Retrospect, Collaborate
    = stylesheet_link_tag 'newhome'
    = render :partial => "shared/analytics"
  %body
    .mainWrap
      = render :partial => 'menu'

      .whiteboard
        .header
          %h1
            %img.logo{:alt => "IdeaBoardz - brainstorm, retrospect, collaborate", :src => asset_path("/assets/IdeaBoardz_logo_2.png")}/
        .content
          .leftBar.half.left
            .what
              %h2.sectionTitle How does it look
              %div
                %img{:alt => "screen-shot", :src => asset_path("/assets/screenshot.png"), :style => "width:100%"}/
          .rightBar.half.left
            .try.blue.sideNote
              %h2.sectionTitle Test Drive...
              .sectionContent
                %ul
                  %li
                    Lets take it for a
                    %a{:href => "/for/test"} Spin!
            .create.yellow.sideNote
              %h2.sectionTitle How
              - if flash[:error].present?
                %h4.error= flash[:error]
              .sectionContent
                %ul
                  %li
                    %a.flip{:href => "#"} Create
                    my own IdeaBoard
                  %li Share the url
                .formContainer{:style => "display:none"}
                  - number_of_sections = 10
                  = form_tag({:controller => :retros},{:method => "post",:novalidate => ""}) do
                    = label_tag(:name, "Name *")
                    = text_field_tag(:name, "",:required => "required",pattern: "^[^.]*$" , "data-message" => "Please provide name without . character")
                    = label_tag(:description, "Description *")
                    = text_field_tag(:description,"", :required => "required","data-message"=>"Please fill in a description")
                    = label_tag(:numberOfSections, "Format")
                    = select_tag(:numberOfSections, options_for_select((1..number_of_sections).map{ |v| [pluralize(v," Section"), v] },{}),:id=>"NumberOfSections")
                    = label_tag(:sectioname0, "Section Title *")
                    #sectionWrapper
                      - (0..number_of_sections-1).map do |number|
                        = text_field_tag("sectionname#{number}","",:required => "required","data-message"=>"Please fill in a section name")
                    = label_tag :are_terms_accepted do  
                      = check_box_tag :are_terms_accepted, 'accepted', false , "data-message"=> "Please Accept T&Cs." 
                      Accept Term & Condition.
                      = link_to "/terms" , { target: "_blank"} do 
                        T&Cs
                    = submit_tag("Create")
            .why.orange.sideNote
              %h2.sectionTitle Why?
              .sectionContent
                %ul
                  %li Add ideas at any time.
                  %li Brainstorm across oceans.
                  %li Export as PDF or Xls.
            .help.purple.sideNote
              .sectionContent
                %p
                  Best viewed on
                  %br/
                  = succeed "," do
                    %a{:href => "http://www.google.com/chrome", :target => "_blank", :title => "download chrome"} chrome
                  %a{:href => "http://www.mozilla.com/en-US/", :target => "_blank", :title => "download firefox"} firefox
                  or
                  %a{:href => "http://www.apple.com/safari/download/", :target => "_blank", :title => "download safari"} safari
            .feedback.green.sideNote
              %h2.sectionTitle Feedback
              .sectionContent
                %ul
                  %li
                    %a{:href => "http://twitter.com/home/?status=@ideaboardz", :title => "Feedback", :target => "_blank"} via Twitter
                  %li
                    %a{:href => "/for/feedback", :title => "Feedback"} via Board
            .faq.green.sideNote
              %h2.sectionTitle
                %a{:href => "/page/faq", :title => "Frequently asked questions"} FAQ
            .contributors.yellow.sideNote
              %h2.sectionTitle
                %a{:href=>"/developers.html",:title=>"IdeaBoardz Contributors"} Contributors
            .tnc.yellow.sideNote
              %h2
                %a{:href=>"/terms",:title=>"TnC"} Terms and Condition
            .count.blue.sideNote
              %h2.sectionTitle
                %b
                  = Point.count
                Ideaz on
                %b
                  = Retro.count
                Boardz
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"
    = javascript_include_tag "jquery.tools.min.js"
    = javascript_include_tag "analytics"
    = javascript_include_tag "create"
    = javascript_include_tag "menu"
