!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Delius|Handlee", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans|Roboto", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}/
    %meta{:content => "text/html; charset=utf-8", :"http-equiv" => "content-type"}/
    %meta{:content => "collaborate, distributed, share, discuss, ideas, brainstorm, sticky, wall, board, whiteboard, meeting, retro, online, continuous, application", :lang => "en-us", :name => "keywords"}/
    %meta{:content => "collaborate, distributed, share, discuss, ideas, brainstorm, sticky, wall, board, whiteboard, meeting, retro, online, continuous, application", :lang => "en", :name => "keywords"}/
    %meta{:content => "Conduct collaborative brainstorming sessions with distributed teams", :name => "description"}/
    - if @retrospective.id > 2
      %meta{:name=>"robots", :content=>"noindex, nofollow"}/
    %title= "IdeaBoardz - #{@retrospective.name}"
    %meta{:content => @retrospective.id, :name => "retroId"}/
    %meta{:content => @retrospective.name, :name => "retroName"}/
    = stylesheet_link_tag 'orter'
    = render :partial => "shared/analytics"
  %body
    .mainWrap
      = render :partial => 'menu'

      .topbar
        .logoContainer
          %a.logo{:href => "/", :title => "Ideaboardz"}
            %img{:alt => "Ideaboardz", :src => asset_path("/assets/ideaboardz.png")}/
      .filter
        %input#search{:placeholder => "start typing to filter stickies", :type => "text"}/
        .sort
          - if@retrospective.sections.length > 1
            = label_tag("retro[section_id]","View Section")
            = select("retro","section_id", @retrospective.sections.collect {|s| [ s.name, s.id ] }, {:include_blank => 'All Sections'})
          = label_tag(:sortBy,"Sort By")
          = select_tag(:sortBy,options_from_collection_for_select(['created time', 'votes'],:to_s,:to_s),:id=>"sortBy")
      .whiteboard
        %h2#ideaboardTitle.ideaBoardTitle{:title => @retrospective.description}= @retrospective.name
        / googleoff: all
        %noscript Please turn javascript on or move to a browser which supports it
        / googleon: all
        - get_rows_for_sections(@retrospective.sections).each_with_index do |row_sections, i|
          .sections{:id => "sectionsRow#{i}"}
            = render :partial => "section", :collection => row_sections, :as => "section", :locals => {:section_width => get_section_width(row_sections.size)}
        .hide
          #stickyTemplate.col_right
            .sticky
              .stickyText
              .voteCount
                +
                %span.count 0
    #largeStickyDialog
      .stickyLarge
        %div.stickyTextContainer
          %textarea#stickyText.stickyText.formElement{:cols => "35", :rows => "4", :title => "click to edit"}
          %span.stickyUpdated
        .stickyActions
          .stickyVote
            %a.voteStickyButton.fas.fa-thumbs-up{:title => "Vote Up"}
            %span.voteCountContainer
              +
              %span.count
            %span.voteUpdated
          %a.removeStickyButton.fas.fa-trash-alt{:title => "Delete sticky"}
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"
    = javascript_include_tag "show"
