<p>
  <b>Retro</b>
  <%=h @retro.name %> - <%=h @retro.description %>
</p>

<table>
<% for section in @retro.sections %>
  <tr>
    <td><b><%=h section.name %></b></td>
  </tr>
        
  <tr>
        <td>
            <table>
            <% for point in section.points %>
              <tr>
                <td><%=h point.message %></td>
              </tr>
            <% end %>
            </table>

        </td>
  </tr>
<% end %>
</table>

<br/>
<br/>
<br/>
<br/>

<%= link_to 'Sections', retro_sections_path(@retro) %> |
<%= link_to 'Edit', edit_retro_path(@retro) %> |
<%= link_to 'Back', retros_path %>
