<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="keywords" lang="en-us" content="collaborate, distributed, share, discuss, ideas, brainstorm, sticky, wall, board, whiteboard, meeting, retro, online, continuous, thoughtworks, application"/>
  <meta name="keywords" lang="en" content="collaborate, distributed, share, discuss, ideas, brainstorm, sticky, wall, board, whiteboard, meeting, retro, online, continuous, thoughtworks, application"/>
  <meta name="description" content="Conduct collaborative brainstorming sessions with distributed teams"/>
  <title>
    IdeaBoardz - Brainstorm, retrospect, collaborate
  </title>
  <meta name="retroId" content="<%= @retrospective.id %>"/>
  <link rel="stylesheet" type="text/css" href="/css/reset-min.css" media="all"/>
  <link rel="stylesheet" type="text/css" href="/css/cupertino/jquery-ui-1.8.2.custom.css" media="all"/>
  <link rel="stylesheet" type="text/css" href="/css/orter.css" media="all"/>
  <%= render :partial => "shared/analytics" %>
</head>
<body>
<div class="mainWrap">
  <div class="topbar">
    <div class="logoContainer">
      <a href="/" title="Ideaboardz" class="logo"><img src="/images/ideaboardz.png" alt="Ideaboardz"/></a>
    </div>

    <div class="export">
      <a id="excelExport" class="excelExport" href="/retros/export/<%= @retrospective.id %>/<%= @retrospective.name %>.xls" title="Export as excel" target="_blank"></a>
      <a id="pdfExport" class="pdfExport" href="/retros/export/<%= @retrospective.id %>/<%= @retrospective.name %>.pdf" title="Export as pdf" target="_blank"></a>
    </div>
  </div>
  <div class="filter">
    <input type="text" placeholder="start typing to filter stickies" id="search"/>
    <div class="sort">
      <% if(@retrospective.sections.length > 1) %>
        <%= label_tag("retro[section_id]","View Section")%>
        <%= select("retro","section_id", @retrospective.sections.collect {|s| [ s.name, s.id ] }, {:include_blank => 'All Sections'}) %>
      <% end %>
      <%= label_tag(:sortBy,"Sort By")%>
      <%= select_tag(:sortBy,options_from_collection_for_select(['created time', 'votes'],:to_s,:to_s),:id=>"sortBy")%>
    </div>
  </div>
  <div class="whiteboard">


      <h2 class="ideaBoardTitle" id="ideaboardTitle"><%= @retrospective.name %></h2>
      <!--googleoff: all-->
      <noscript>Please turn javascript on or move to a browser which supports it</noscript>
      <!--googleon: all-->

    <%
         row_one_sections, row_two_sections = get_rows_for_sections(@retrospective.sections)
    %>
    <div id="sectionsRow1" class="sections">
      <%section_width = get_section_width(row_one_sections.size) %>
      <%= render :partial => "section",
            :collection => row_one_sections, :as => "section",
            :locals => {:section_width => section_width} %>

    </div>
    <div id="sectionsRow2" class="sections">
      <%section_width = get_section_width(row_two_sections.size) %>
      <%= render :partial => "section",
                  :collection => row_two_sections, :as => "section",
                  :locals => {:section_width => section_width} %>
    </div>
    <div class="hide">
      <div id="stickyTemplate" class="col_right">
        <div class="sticky">
          <div class="stickyText"></div>
          <div class="voteCount">+<span class="count">0</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="largeStickyDialog">
  <div class="stickyLarge">
    <textarea class="stickyText"></textarea>
    <div class="stickyActions">
      <span class="voteStickyButton">Vote</span>
      <span class="removeStickyButton">Remove</span>
      <div class="voteCountContainer">Number of votes: <span class="voteCount">+<span class="count"></span></span></div>
    </div>
  </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js" type='text/javascript'></script>
<!--<script type="text/javascript" src="/js/jquery1.7.min.js"></script>-->
<script type="text/javascript" src="/js/jquery-ui-1.8.2.custom.min.js"></script>
<script src='/js/analytics.js' type='text/javascript'></script>
<script type="text/javascript" src="/js/jquery.tinysort.js"></script>
<script type="text/javascript" src="/js/underscore-min.js"></script>
<script type="text/javascript" src="/js/util.js"></script>
<script type="text/javascript" src="/js/sticky.js"></script>
<script type="text/javascript" src="/js/section.js"></script>
</body>
</html>
